{% form_theme courseForm 'bootstrap_5_layout.html.twig' %}
{% extends "base.html.twig" %}

{% block body %}
<div class = "container-fluid col-md-10 text-center">
    <h2>Edit Course</h2>
    {{ form_start(courseForm) }}
    {{ form_end(courseForm) }}
</div>
{% endblock %}