{% form_theme studentForm 'bootstrap_5_layout.html.twig' %}
{% extends "base.html.twig" %}

{% block body %}
<div class = "container-fluid col-md-10 text-center">
    <h2>Edit Student</h2>
    {{ form_start(studentForm) }}
    {{ form_end(studentForm) }}
</div>
{% endblock %}